.roots {
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 1;
  background-color: #ffc565;
}

.header__container {
  padding: 16px 0;
}

.header {
  background-color: #ff9f92;
  border-bottom: 2px solid black;
  margin-bottom: 24px;
}

.control__input_type_eraser:checked + .control__fake-input {
  background-image: url("https://img.icons8.com/ultraviolet/40/000000/checked-checkbox--v1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.control__input_type_eraser:focus + .control__fake-input {
  border: 1px dashed green;
}

.control__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.control__input:focus + .control__fake-input {
  -webkit-text-decoration: underline black;
          text-decoration: underline black;
}

.control__label_type_eraser {
  padding-left: 1.5em;
}

.control__label {
  position: relative;
  color: #f4f7ff;
  padding: 1px 0;
  cursor: pointer;
}

.control__label:hover {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  -o-transition: transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}

.control__fake-input_type_eraser {
  position: absolute;
  width: 17px;
  height: 17px;
  border: 1px solid black;
  margin-left: -1.5em;
}

.control__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #f4f7ff;
  padding: 0;
}

.control__button:hover {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  -o-transition: transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}

.control__button:focus {
  outline: none;
  -webkit-text-decoration: underline black;
          text-decoration: underline black;
}

.control {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main {
  margin: 0 auto;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.main__container {
  max-width: 846px;
}

.pixel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 3px solid black;
}

.pixel__item {
  width: 10px;
  height: 10px;
  background-color: white;
  border: 1px solid #333a48;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .main__container {
    max-width: 756px;
  }
}

@media screen and (max-width: 767px) {
  .main__container {
    max-width: 626px;
  }
}

@media screen and (max-width: 639px) {
  .main__container {
    max-width: 476px;
  }

  .header__container {
    max-width: 90%;
  }
}

@media screen and (max-width: 479px) {
  .control__fake-input_type_eraser {
    width: 10px;
    height: 10px;
  }

  .control {
    font-size: 13px;
  }

  .main__container {
    max-width: 366px;
  }
}

@media screen and (max-width: 424px) {
  .control__fake-input_type_eraser {
    width: 7px;
    height: 7px;
  }

  .control {
    font-size: 10px;
  }

  .main__container {
    max-width: 326px;
  }
}

@media screen and (max-width: 374px) {
  .main__container {
    max-width: 256px;
  }
}

@media screen and (max-width: 319px) {
  .control__fake-input_type_eraser {
    width: 5px;
    height: 5px;
    margin-left: -1.2em;
  }

  .main__container {
    max-width: 196px;
  }
}

@media screen and (max-width: 319x) {
  .control {
    font-size: 5px;
  }
}