.roots {
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: 25px;
  line-height: 1;
  background-color: #ffc565;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.header__container {
  padding: 25px 0;
}

.header {
  background-color: #ff9f92;
  border-bottom: 2px solid black;
  margin-bottom: 30px;
}

.control__input_type_eraser:checked + .control__fake-input {
  background-image: url("https://img.icons8.com/ultraviolet/40/000000/checked-checkbox--v1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.control__input_type_eraser:focus + .control__fake-input {
  border: 1px dashed green;
}

.control__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.control__input:focus + .control__fake-input {
  padding-bottom: 1px;
  border-bottom: 1px dashed green;
}

.control__label_type_eraser {
  padding-right: 1.3em;
}

.control__label {
  position: relative;
  color: #f4f7ff;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  -o-transition: transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  max-height: 28px;
}

.control__label:hover {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}

.control__fake-input_type_eraser {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  margin-left: 3.5em;
  top: 2px;
}

.control__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #f4f7ff;
  padding: 0;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  -o-transition: transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  max-height: 28px;
}

.control__button:hover {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}

.control__button:focus {
  outline: none;
  padding-bottom: 1px;
  border-bottom: 1px dashed green;
}

.control {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 28px;
}

.pixel__container {
  max-width: 846px;
}

.pixel__board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 3px solid black;
}

.pixel__item {
  width: 10px;
  height: 10px;
  background-color: white;
  border: 1px solid #333a48;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes shiba {
  from {
    -webkit-transform: translate(0);
            transform: translate(0);
  }

  40% {
    -webkit-transform: translateY(-45%) rotate(360deg);
            transform: translateY(-45%) rotate(360deg);
  }

  to {
    -webkit-transform: rotate(360deg) translate(0);
            transform: rotate(360deg) translate(0);
  }
}

@keyframes shiba {
  from {
    -webkit-transform: translate(0);
            transform: translate(0);
  }

  40% {
    -webkit-transform: translateY(-45%) rotate(360deg);
            transform: translateY(-45%) rotate(360deg);
  }

  to {
    -webkit-transform: rotate(360deg) translate(0);
            transform: rotate(360deg) translate(0);
  }
}

.pixel__image_animation_1 {
  -webkit-animation-name: shiba;
          animation-name: shiba;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes reverseShiba {
  from {
    -webkit-transform: translate(0);
            transform: translate(0);
  }

  40% {
    -webkit-transform: translateY(-45%) rotate(-360deg);
            transform: translateY(-45%) rotate(-360deg);
  }

  to {
    -webkit-transform: rotate(-360deg) translate(0);
            transform: rotate(-360deg) translate(0);
  }
}

@keyframes reverseShiba {
  from {
    -webkit-transform: translate(0);
            transform: translate(0);
  }

  40% {
    -webkit-transform: translateY(-45%) rotate(-360deg);
            transform: translateY(-45%) rotate(-360deg);
  }

  to {
    -webkit-transform: rotate(-360deg) translate(0);
            transform: rotate(-360deg) translate(0);
  }
}

.pixel__image_animation_2 {
  -webkit-animation-name: reverseShiba;
          animation-name: reverseShiba;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.pixel__image {
  position: absolute;
  top: -12%;
  left: 48%;
  width: 65px;
  height: 65px;
  background-image: url("https://img.icons8.com/color/96/000000/hachiko.png");
  background-size: cover;
  padding: 0;
  z-index: 1;
}

.pixel__image::before {
  position: absolute;
  content: '';
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.pixel__image::after {
  position: absolute;
  content: '';
  -webkit-transition: -webkit-transform 1.5s ease;
  transition: -webkit-transform 1.5s ease;
  -o-transition: transform 1.5s ease;
  transition: transform 1.5s ease;
  transition: transform 1.5s ease, -webkit-transform 1.5s ease;
}

.pixel__image:hover::after,
.pixel__image:focus::after {
  top: 10px;
  left: 62px;
  width: 7px;
  height: 7px;
  background-color: white;
  border-radius: 50%;
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
}

.pixel__image:hover::before,
.pixel__image:focus::before {
  content: 'Woof';
  top: -10px;
  left: 81px;
  width: 30px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  font-size: 10px;
  line-height: 2;
  text-align: center;
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
}

.pixel {
  position: relative;
  margin: 0 auto;
  z-index: 5;
}

@media screen and (min-width: 1367px) {
  .pixel__container {
    max-width: 1106px;
  }

  .pixel__image {
    top: -12.5%;
  }
}

@media screen and (max-width: 1023px) {
  .pixel__container {
    max-width: 656px;
  }

  .pixel__image {
    top: -22.5%;
  }
}

@media screen and (max-width: 767px) {
  .header__container {
    padding: 10px 0;
  }

  .header {
    margin-bottom: 40px;
  }

  .control__label_type_eraser {
    font-size: 0;
    background-image: url("https://img.icons8.com/office/16/000000/eraser.png");
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .control__label_type_color {
    background-image: url("https://img.icons8.com/office/100/000000/paint-palette.png");
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .control__fake-input_type_eraser {
    width: 15px;
    height: 15px;
    left: 25px;
  }

  .control__fake-input_type_color {
    font-size: 0;
  }

  .control__button_type_clear {
    font-size: 0;
    background-image: url("https://img.icons8.com/emoji/48/000000/cross-mark-emoji.png");
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .control__button_type_fill {
    font-size: 0;
    background-image: url("https://img.icons8.com/office/16/000000/paint-bucket.png");
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .pixel__container {
    max-width: 456px;
  }

  .pixel__image {
    top: -19.5%;
    width: 40px;
    height: 40px;
  }

  .pixel__image:hover::after,
  .pixel__image:focus::after {
    width: 3px;
    height: 3px;
    top: 6px;
    left: 39px;
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
  }

  .pixel__image:hover::before,
  .pixel__image:focus::before {
    width: 20px;
    height: 10px;
    font-size: 5px;
    top: -3px;
    left: 45px;
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@media screen and (max-width: 639px) {
  .pixel__container {
    max-width: 356px;
  }
}

@media screen and (max-width: 424px) {
  .control__fake-input_type_eraser {
    width: 10px;
    height: 10px;
    top: 5px;
  }

  .pixel__container {
    max-width: 326px;
  }

  .pixel__image {
    top: -10%;
  }
}

@media screen and (max-width: 374px) {
  .pixel__container {
    max-width: 256px;
  }

  .pixel__image {
    top: -11%;
  }
}

@media screen and (max-width: 319px) {
  .pixel__container {
    max-width: 196px;
  }

  .pixel__image {
    top: -12%;
  }
}